@charset "UTF-8";
/**
 * @doc admin后台样式
 * @author Heanes
 * @time 2017-09-29 18:57:50 周五
 */
/**
 * @doc common
 */
/**
 * @doc 公用样式
 * @author Heanes
 * @time 2017-09-29 18:56:58 周五
 */
.main-content .center-block.right-content {
  padding: 20px; }

.box-normal {
  box-shadow: 0 0 2px 2px rgba(225, 225, 225, 0.5);
  border-radius: 4px; }

/**
 * @doc 全局快速公用样式
 * @author Heanes
 * @time 2017-10-12 17:46:28 周四
 */
.pull-right {
  float: right; }

.hide {
  display: none; }

[disabled="disabled"], .disabled {
  pointer-events: none; }

/**
 * @doc 页面面包屑导航
 * @author Heanes
 * @time 2017-10-12 17:02:07 周四
 */
.page-breadcrumb {
  margin: 14px;
  padding: 8px;
  background-color: #f5f5f5; }

.page-breadcrumb.bg-normal {
  background-color: #f5f5f5;
  border: 1px solid #ddd; }

/**
 * @doc 页面框架
 * @author Heanes
 * @time 2017-10-12 17:11:53 周四
 */
.page-content {
  padding: 16px; }

/**
 * @doc 查询表单
 * @author Heanes
 * @time 2017-10-12 17:11:53 周四
 */
.search-form-wrap {
  position: relative;
  margin-bottom: 20px;
  background-color: #f5f5f5; }

.search-form-wrap.bg-normal {
  background-color: #f5f5f5;
  border: 1px solid #ddd; }

.search-form-wrap.bg-normal .search-form {
  padding: 20px; }

.search-form .input-block,
.search-form .form-handle {
  display: table-cell; }

.search-form .line-group.last,
.search-form .line-group:last-child {
  margin-bottom: 0; }

.search-form .line-group .form-group {
  margin-bottom: 20px; }

.search-form .line-group .control-label {
  min-width: 84px;
  text-align: right; }

.search-form .line-group .control-label.text-center {
  text-align: center; }

.search-form .line-group .form-control {
  min-width: 178px; }

.search-form .line-group .normal-input-width,
.search-form .line-group .select2-container {
  min-width: 178px; }

.search-form .form-handle {
  vertical-align: middle;
  padding: 0 50px 0; }

.search-form .form-handle .handle-inline {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 20px; }

.search-form .form-handle .handle-inline:last-child {
  margin-right: 0; }

.search-form .form-handle .handle-inline input[type="reset"],
.search-form .form-handle .handle-inline button[type="reset"] {
  margin-left: 40px; }

/**
 * @doc 全局消息
 * @author Heanes
 * @time 2016-09-08 18:36:48 周四
 */
.global-message {
  margin: 20px 0; }

/**
 * @doc 数据列表统计区域
 * @author Heanes
 * @time 2016-09-08 18:36:38 周四
 */
.data-info {
  margin: 20px 0; }

.data-info .data-statistics {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px; }

.data-info .data-statistics p {
  margin: 0; }

/**
 * @doc 数据操作区域
 * @author Heanes
 * @time 2016-09-08 19:15:09 周四
 */
.date-handle {
  display: table;
  width: 100%;
  padding: 10px 0; }

.date-handle .table-cell {
  display: table-cell;
  vertical-align: bottom; }

.date-handle .handle-right {
  text-align: right; }

.date-handle .handle-right .handle:hover {
  text-decoration: none; }

.date-handle .handle-right .handle.disabled {
  color: #ddd;
  pointer-events: none;
  cursor: not-allowed; }

.date-handle .handle-right .handle-inline {
  margin: 0 10px; }

/**
 * @doc 数据列表区域
 * @author Heanes
 * @time 2017-10-12 18:19:33 周四
 */
.data-list {
  margin: 10px auto; }

.data-list .table .select-row {
  width: 60px;
  text-align: center; }

.data-list .bg-normal,
.table.thead-tr-bg-normal thead tr {
  background-color: #ededed; }

i.fa.on {
  color: #008000; }

i.fa.off {
  color: #f00; }

/**
 * @doc 选中后的数据的批量操作
 * @author Heanes
 * @time 2016-09-11 17:35:39
 */
.data-selected-handle {
  margin: 20px 0 0 20px; }

.data-selected-handle .handle-one {
  margin-right: 20px; }

.data-selected-handle .inline-block {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }

.data-selected-handle input.inline-block {
  margin-right: 6px; }

.data-selected-handle .selected-count {
  color: #ff0000;
  margin: 0 4px; }

/**
 * @doc 数据列表脚部区域
 * @author Heanes
 * @time 2017-10-12 17:45:49 周四
 */
.data-list-footer {
  margin: 10px auto; }

/**
 * @doc 编辑表单
 * @author Heanes
 * @time 2016-09-27 20:23:28 周二
 */
.data-edit-form {
  padding: 0 20px; }

.data-edit-form .form .form-group.inline {
  display: inline-block; }

.data-edit-form .form .form-group.inline .form-control {
  width: auto;
  display: inline-block;
  vertical-align: middle; }

.data-edit-form .form .form-group .control-label {
  width: 120px;
  text-align: right;
  vertical-align: middle;
  margin-bottom: 0; }

.data-edit-form .form .form-group .control-label.input-show-value-text {
  width: auto;
  font-weight: normal;
  min-width: 0;
  margin: 0 10px 0 4px; }

.data-edit-form .form .form-group .control-icon {
  margin-left: -30px;
  z-index: -1;
  vertical-align: middle; }

.data-edit-form .form .form-group .form-control.textarea-title {
  width: 740px;
  height: 60px; }

.data-edit-form .form .form-group .form-control.textarea-content {
  width: 740px;
  height: 740px; }

.data-edit-form .form .form-group .kindEditor-count {
  padding-left: 134px;
  font-size: 13px;
  color: #5a5a5a; }

.data-edit-form .form .form-group .form-control.textarea-content.uEditor {
  padding: 0;
  border: 0;
  margin-bottom: 130px; }

.data-edit-form .form .form-group .form-control.textarea-content.uEditor.eui-default {
  height: auto; }

.data-edit-form .form .form-group input[type="checkbox"],
.data-edit-form .form .form-group input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }

.ke-container {
  display: inline-block !important;
  vertical-align: top; }

.data-edit-form .form .form-handle {
  margin: 20px auto; }

.data-edit-form .form .form-handle .handle-group.text-center {
  text-align: center; }

.data-edit-form .form .form-handle .handle-group .handle {
  margin: 0 20px; }

/**
 * @doc layout-布局样式
 */
/**
 * @doc 框架样式
 * @author Heanes
 * @time 2016-11-29 10:16:42 周二
 */
/* 字体样式 */
/************************ 框架重设样式 ************************/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-break: break-all; }

html, iframe, frame, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0; }

body, button, input, select, textarea {
  font: 14px/1.3 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
  color: #333; }

iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0; }

* {
  box-sizing: border-box; }

/* 清除浮动 */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both;
  overflow: hidden; }

.clearfix {
  zoom: 1;
  display: table;
  width: 100%;
  /* for ie6 & ie7 */ }

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden; }

/************************ 框架布局 ************************/
.layout .header {
  position: fixed;
  z-index: 3;
  width: 100%;
  min-height: 50px; }

.layout .left-width {
  width: 280px; }

.layout .left-block {
  position: fixed;
  height: 100%;
  z-index: 2;
  padding-top: 50px;
  overflow-y: auto; }

.layout .center-block {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 280px;
  padding-top: 50px;
  padding-right: 0; }

/* 框架样式风格 */
.layout a {
  color: inherit;
  background-color: inherit;
  text-decoration: none; }

.layout a:hover {
  color: inherit;
  text-decoration: none; }

/************************ 顶部 ************************/
.header {
  background-color: #273245;
  color: #fff; }

.header .admin-logo {
  position: relative;
  float: left;
  height: 100%;
  background-color: #273245; }

.header .admin-logo .lap-handle {
  position: absolute;
  right: 8px;
  top: 16px;
  color: #fff;
  font-size: 14px;
  font-weight: 600; }

.header .admin-logo .admin-log-href {
  display: block;
  line-height: 50px;
  text-align: center;
  margin-right: 30px; }

.header .admin-logo .admin-log-href .admin-icon,
.header .admin-logo .admin-log-href .admin-title-text {
  vertical-align: top; }

.header .admin-logo .admin-log-href .admin-icon {
  font-size: 34px;
  vertical-align: middle;
  margin-bottom: 8px; }

/* 图片型logo */
.header .admin-logo .admin-log-href img.admin-icon {
  width: 36px;
  height: 36px;
  margin-bottom: 0; }

.header .admin-logo .admin-log-href .admin-title-text {
  font-size: 22px;
  display: inline-block; }

.header .admin-logo .admin-log-href .admin-title-text .system-version {
  font-style: normal;
  font-size: 12px;
  vertical-align: top;
  margin-left: 8px; }

.header .menu-top {
  float: left;
  height: 50px;
  line-height: 50px;
  max-width: 1020px;
  overflow-x: auto;
  white-space: nowrap; }

.header .admin-select-city {
  float: right;
  height: 50px;
  line-height: 50px;
  margin: 0 6px; }

.header .admin-select-city .select-city option {
  padding: 0; }

.header .admin-user-info {
  float: right;
  height: 50px;
  line-height: 50px;
  background-color: inherit; }

.header .admin-user-info .toggle-show-info-block {
  display: none;
  position: absolute;
  right: 0;
  font-size: 13px;
  line-height: 26px;
  padding-top: 6px;
  background-color: inherit;
  max-height: 400px; }

.header .admin-user-info.toggle-show:hover .toggle-show-info-block {
  display: block; }

.header .admin-user-info .user-detail dl {
  display: block;
  padding: 0 10px; }

.header .admin-user-info .user-detail dl:hover {
  background-color: #254f7b; }

.header .admin-user-info .user-detail dt, .user-detail dd {
  display: inline-block; }

.header .admin-user-info .user-detail dt {
  color: #fff;
  text-align: right;
  min-width: 60px; }

.header .admin-user-info .user-detail dd {
  color: #fff; }

.header .admin-user-info .login-handle {
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  padding: 6px 0; }

.header .admin-user-info .login-handle .login-out:hover {
  text-decoration: underline; }

.header .admin-user-info .login-handle .login-out .icon {
  margin-right: 10px; }

/************************ 左侧菜单 ************************/
.left-block {
  background-color: #f2f2f2;
  color: #292929; }

.header .admin-logo {
  padding: 0 0 0 20px; }

.tree-top-wrap .tree-top-list li .node-wrap {
  padding: 0 8px; }

.tree-top-wrap .tree-top-list li .node-text {
  padding: 0 0 0 4px; }

/* 防止菜单文字被选中 */
.tree-list-wrap {
  user-select: none; }

/**
 * @doc 树的样式覆写
 * @author Heanes
 * @time 2017-10-20 19:33:13 周六
*/
.tree-left-wrap.lapped .tree-list-wrap > .tree-group > .tree-node:hover {
  width: 300px;
  height: 32px; }
  .tree-left-wrap.lapped .tree-list-wrap > .tree-group > .tree-node:hover > .node-wrap {
    position: fixed;
    width: 300px; }

.tree-left-wrap.lapped .tree-list-wrap > .tree-group > .tree-node:hover > .tree-group {
  position: fixed;
  margin-top: 32px; }

.tree-search .tree-search-input {
  width: 200px;
  height: 30px;
  line-height: 30px; }

/************************ 右侧样式 ************************/
.iframe-container {
  overflow: hidden;
  position: relative; }

.iframe-container .tabs-container {
  width: 100%;
  height: 100%;
  border-left: none;
  border-right: 0; }

.iframe-container .tabs-container .tab-title-container {
  padding: 0 10px !important;
  box-sizing: content-box; }

.iframe-container .tabs-container .tab-title-container .tab-title-wrap {
  color: #555; }

.iframe-container .tabs-container .tab-title-container .tab-title-icon {
  margin-right: 4px; }

.iframe-container .tabs-container .tab-content {
  height: 100%; }

.jqx-tabs-selection-tracker-top, .iframe-container .tabs-container .tab-title-container .jqx-tabs-title-selected-top .tab-title-wrap {
  color: #0088cc; }

.jqx-widget-bootstrap, .jqx-widget-header-bootstrap, .jqx-fill-state-normal-bootstrap, .jqx-widget-content-bootstrap, .jqx-fill-state-hover-bootstrap, .jqx-fill-state-pressed-bootstrap {
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif; }

/* tabs相关操作 */
.iframe-container .tabs-handle {
  position: absolute;
  right: 0;
  top: 56px;
  z-index: 1;
  text-align: right;
  background-color: #fff;
  height: 26px;
  line-height: 26px;
  padding: 0 6px; }

.iframe-container .tabs-handle .handle {
  margin-right: 4px;
  color: #444; }

.iframe-container .jqx-tabs-arrow-background:last-child {
  right: 50px !important; }

/************************ 底部样式 ************************/
/************************ 后台框架布局操作相关 ************************/
.layout-handle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  padding: 2px; }

.layout-handle.effected {
  color: #444; }

.layout-handle .layout-handle-icon {
  vertical-align: top; }

.main-top-block.full-screen {
  display: none; }

.left-block.full-screen {
  display: none; }

.center-block.iframe-container.full-screen {
  padding: 0 !important; }

.center-block.iframe-container.full-screen .tabs-container .tab-title-container {
  padding-left: 20px !important; }

.center-block.iframe-container.full-screen .tabs-handle {
  top: 2px; }

/**
 * @doc login-登录页面样式
 */
@CHARSET "UTF-8";
/**
 * @doc 后台登录页样式
 * @author Heanes
 * @time 2016-10-30 18:46:32 周日
 */
.admin-login.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: url(../image/login/login-bg-1.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  filter: blur(4px); }

.admin-login-box-background {
  z-index: 888;
  height: 380px;
  width: 540px;
  position: absolute;
  margin-left: -270px;
  margin-top: -190px;
  left: 50%;
  top: 50%;
  background: #808080;
  opacity: .3;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: -moz-linear-gradient(left, #F00, #0F0, #00F, #FF0, #0FF, #FF00FF);
  background: -webkit-linear-gradient(left, #F00, #0F0, #00F, #FF0, #0FF, #FF00FF);
  background: -o-linear-gradient(left, #F00, #0F0, #00F, #FF0, #0FF, #FF00FF); }

.admin-login-box {
  z-index: 889;
  text-align: center;
  opacity: .8;
  height: 360px;
  width: 520px;
  position: absolute;
  margin-left: -260px;
  margin-top: -180px;
  left: 50%;
  top: 50%;
  background: #fff;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: -moz-linear-gradient(top, #fff, #ccc);
  background: -webkit-linear-gradient(top, #fff, #ccc);
  background: -o-linear-gradient(top, #fff, #ccc); }

.admin-login-box .login-form
, .admin-login-box .login-handle-extra {
  margin: auto; }

.admin-login-box .login-form {
  min-height: 270px;
  position: relative; }

.admin-login-box h1 {
  height: 40px;
  line-height: 40px;
  color: #0b9cd3;
  margin: 28px 0 20px;
  font-size: 28px; }

.admin-login-box .normal-width {
  max-width: 350px; }

.admin-login-box .input-row {
  padding: 6px;
  vertical-align: middle;
  line-height: 22px; }

.admin-login-box .login-form label {
  font-size: 14px; }

.admin-login-box input[type="text"], input[type="password"] {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
  display: inline-block;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.admin-login-box input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

.admin-login-box .input-field {
  display: inline-block;
  width: 350px;
  text-align: left; }

.admin-login-box .input-field label {
  display: inline-block;
  width: 80px;
  text-align: right;
  vertical-align: middle; }

.admin-login-box .input-field .input-unit {
  display: inline-block;
  position: relative; }

.admin-login-box input.normal-input {
  line-height: 30px;
  width: 230px; }

.admin-login-box .input-field.captcha input.normal-input {
  width: 120px; }

.admin-login-box .input-reference {
  display: inline-block;
  width: 100px; }

.admin-login-box .admin-captcha {
  width: 100px;
  height: 40px;
  cursor: pointer; }

.admin-login-box .input-field .reset-input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  line-height: 16px;
  right: 6px;
  top: 10px;
  font-size: 16px;
  font-style: normal;
  background-color: #ccc;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-family: "微软雅黑", serif;
  cursor: pointer;
  user-select: none;
  display: none; }

.admin-login-box .input-field .input-unit:hover .reset-input-icon {
  display: block; }

.admin-login-box .input-field .normal-input:focus + .reset-input-icon {
  display: block; }

.admin-login-box .login-handle-field {
  text-align: center;
  margin-top: 20px; }

.admin-login-box .login-form .login-submit {
  width: 100px;
  height: 44px;
  line-height: 44px;
  margin: 6px;
  background: #0074cc;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none; }

.admin-login-box .login-form .login-handle-extra {
  position: absolute;
  bottom: 4px;
  width: 100%;
  font-size: 0;
  padding: 0 4px;
  margin-top: 18px;
  max-width: 320px; }

.admin-login-box .login-form .login-handle-extra .inline {
  display: inline-block; }

.admin-login-box .login-form .login-handle-extra .inline-half {
  width: 50%; }

.admin-login-box .login-form .login-handle-extra .v-middle {
  vertical-align: middle; }

.admin-login-box .login-form .login-handle-extra .remember-account
, .admin-login-box .login-form .login-handle-extra .forget-password {
  font-size: 13px; }

.admin-login-box .login-form .login-handle-extra .remember-account {
  text-align: left; }

.admin-login-box .login-form .login-handle-extra .forget-password {
  text-align: right; }

.admin-login-box .login-form .login-handle-extra .forget-password a {
  text-decoration: none; }

.admin-login-box .login-form .login-handle-extra .color-dark {
  color: #666;
  font-size: 13px; }

.admin-login-box .login-form .login-handle-extra .remember-account input {
  margin: 0;
  padding: 0; }

/**
 * @doc start-登录后起始页样式
 */
/**
 * @doc 登录后欢迎样式
 * @author Heanes
 * @time 2017-09-29 19:01:02 周五
 */
/**
 * @doc 欢迎页面
 * @author Heanes
 * @time 2016-08-17 17:46:53 周三
 */
body.start {
  background-color: #ecf0f5; }

.report-count-block {
  font-size: 0;
  margin: 20px 10px; }

.report-count-block .report-count-one {
  display: inline-table;
  min-height: 90px;
  vertical-align: top;
  font-size: 14px;
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: 20px; }

.report-count-block .report-count-one .report-icon-field,
.report-count-block .report-count-one .report-content {
  display: table-cell;
  vertical-align: middle; }

.report-count-block .report-count-one .report-icon-field {
  width: 60px;
  text-align: center; }

.report-count-block .report-count-one .report-icon-field.article {
  background-color: #00a65a; }

.report-count-block .report-count-one .report-icon-field.comment {
  background-color: #00c0ef; }

.report-count-block .report-count-one .report-icon-field.member {
  background-color: #f39c12; }

.report-count-block .report-count-one .report-icon-field.visitor {
  background-color: #2ec7c9; }

.report-count-block .report-count-one .report-icon-field .report-icon {
  font-size: 28px;
  line-height: 60px;
  color: #fff; }

.report-count-block .report-count-one .report-content {
  margin-right: 10px;
  vertical-align: top;
  min-width: 180px; }

.report-count-block .report-count-one .report-content .report {
  display: block;
  line-height: 18px;
  color: #555;
  margin: 0 10px; }

.report-count-block .report-count-one .report-content .report.main {
  font-size: 17px;
  line-height: 30px;
  margin: 8px 10px 4px; }

.report-count-block .report-count-one .report-content .report dt,
.report-count-block .report-count-one .report-content .report dd {
  display: inline-block; }

.report-count-block .report-count-one .report-content .report .value {
  font-weight: 600;
  color: #000;
  margin-right: 5px; }

.report-count-block .report-count-one .report-content .report .title {
  font-weight: 300;
  text-align: right; }

.report-chart-block {
  _max-width: 900px; }

.report-chart-block .report-chart {
  border-top: 4px solid #ddd;
  background-color: #fff;
  margin: 10px;
  font-size: 0; }

.report-chart-block .report-chart .content-block .count-report {
  display: inline-block;
  width: 70%;
  height: 400px;
  margin-right: 4%; }

.report-chart-block .report-chart .content-block .count-report:last-child {
  padding-right: 0;
  margin-right: 0; }

.report-chart-block .report-chart .content-block .count-report.count-browser {
  width: 26%; }

/*# sourceMappingURL=css.css.map */
