@CHARSET "UTF-8";
/**
 * @doc 前台公共样式
 * @author fanggang
 * @time 2015-11-21 22:11:30
 */
/* 常用及简写样式 */
.fixed{position:fixed;z-index:100;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clear{clear:both;content:" ";display:block;}
.clear-left{clear:left;content:" ";display:block;}
.clear-right{clear:right;content:" ";display:block;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.for-eye-protect{background:#e3edcd;}
.none{display:none}
.relative{position:relative}
.main-wrap{
    width:1200px
}
.left-block{display:none;}
/* 通用命名下的样式 */
.wrap{width:100%;}
.wrap,
.main-wrap,
.header,
.main,
.footer,
.center-wrap,
.left-wrap,
.right-wrap{margin:0 auto;}
[class*="-wrap"]{margin:0 auto;}
.float-block{float:left;}
/* S 头部 S */
.header{
    background-color:#f4f4f4;
    border-bottom:1px solid #E8E8E8;
    box-shadow:0 2px 10px rgba(217,224,247,0.56);
    margin-bottom:16px;
}
/* 顶部工具栏 */
.top-toolbar{
    width:100%;
    height:36px;
    background:#F4F4F4;
    border-bottom:1px solid #E8E8E8;
    -webkit-box-shadow:0 3px 6px rgba(0,0,0,.3);
    -moz-box-shadow:0 3px 6px rgba(0,0,0,.3);
    box-shadow:0 3px 6px rgba(0,0,0,.3);
}
.top-toolbar .top-handle-block{position:absolute;right:0;display:inline-block;}
.top-toolbar .top-handle-block .handle-block{height:36px;line-height:36px;padding:0 14px;}
.top-toolbar .top-handle-block .handle-block.hover-change-block:hover{height:auto;}
.top-toolbar .top-handle-block .handle-block.hover-change-block:hover .handle-content.backend{visibility:visible;}
.top-toolbar .top-handle-block .handle-block .handle-content{}
.top-toolbar .top-handle-block .handle-block .handle-content.backend{visibility:hidden;}
.top-toolbar .top-handle-block .handle-block .handle-content a{display:inline-block;cursor:pointer;}
.top-toolbar .top-handle-block .handle-block.font-setting:hover{-webkit-box-shadow:0 3px 6px rgba(0,0,0,.3);-moz-box-shadow:0 3px 6px rgba(0,0,0,.3);box-shadow:0 3px 6px rgba(0,0,0,.3);}
.top-toolbar .top-handle-block .handle-block.font-setting .handle-content.backend{font-size:20px;background-color:#fff;}
.top-toolbar .top-handle-block .handle-block.font-setting .handle-content.backend .text-songti,
.top-toolbar .top-handle-block .handle-block.font-setting .handle-content.backend .test-yahei{display:block;font-size:12px;padding-left:10px;cursor:pointer}
.top-toolbar .top-handle-block .handle-block.font-setting .handle-content.backend .text-songti{font-family:'sans-serif',serif}
.top-toolbar .top-handle-block .handle-block.font-setting .handle-content.backend .test-yahei{font-family:'Microsoft Yahei',serif}
.top-toolbar .top-handle-block .handle-block.font-setting:hover{background-color:#fff;}


.header-nav-bar{height:80px;background-color:#fff;width:100%;line-height:80px;box-shadow:0 2px 2px rgba(217,224,247,0.56);}
.header-nav-bar.nav-fix{position:fixed;top:0;height:50px;line-height:50px;background-color:rgba(255,255,255,.8);}
/* header-style1 */
.header-nav-bar .header-logo{padding:0 10px;float:left;}
.header-nav-bar .header-logo .logo-a{display:inline-block;width:64px;height:64px;}
.header-nav-bar .header-logo .logo-a img{width:100%;height:100%;}
.header-nav-bar .header-nav{float:left;padding:0 8px;}
.header-nav-bar .header-nav .nav{}
.header-nav-bar .header-nav .nav li{padding:0;display:inline-block;}
.header-nav-bar .header-nav .nav .nav-a{font-size:14px;color:#233;padding:10px 14px;}
.header-nav-bar .header-nav .nav .nav-a.current{color:#57adfd;}
.header-nav-bar .header-nav .nav .nav-a:hover,
.header-nav-bar .header-nav .nav .nav-a.current{color:#fff;background-color:#57adfd;border-radius:20px;}
.header-nav-bar .header-nav .nav .nav-a.nav-login{color:#fff;background-color:#48a57d;border-radius:20px;}
.header-nav-bar .header-nav .nav .nav-a .icon-nav{font-size:14px;}
.header-nav-bar .header-nav .nav .nav-a .icon-nav.icon-web-home{font-size:18px;}
.header-nav-bar .header-search{float:left;}
.header-nav-bar .header-search .search-input{border-radius:20px;border:1px solid #bbb;padding:6px 14px;width:190px;}
.header-nav-bar .header-search .search-input:focus{border-color:rgba(82,168,236,0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
.header-nav-bar .header-search .search-a-submit{width:18px;height:18px;display:inline-block;margin-left:-28px;line-height:0;}
.header-nav-bar .header-search .icon-search{font-size:16px;}

.header-nav-bar.nav-fix .header-logo .logo-a{
    height:30px;
    width:30px;
}
/* E 头部 E */
/* S 中间主体 S */
.main-top-block{
    height:300px;
    background:#fff;
    margin-bottom:12px;
}
.main-top-content{
    height:300px;
    background:#fff;
    margin-bottom:12px;
}
/* 左侧工具栏 */
.left-wrap{width:260px;}
.left-block{background:#fff;margin-right:16px;}
.left-block{height:1000px;}


/* 中心主体内容 */
.main-content{margin-bottom:12px;background-color:#fff}
.center-wrap{width:920px;}
.center-block{background:#fff;}
.center-block{}

/* 右侧工具栏 */
.right-wrap{width:260px;}
.right-block{background:#fff;margin-left:20px;}
.right-block{height:1000px;}

.main-bottom-content{
    background:#fff;
    margin-bottom:12px;
}
.main-bottom-block{
    background:#fff;
    margin-bottom:12px;
}
.right-fix-block .right-corner{position:fixed;left:50%;bottom:10px;margin-left:600px;}
.right-fix-block .right-corner .handle-block{width:60px;height:60px;margin-bottom:3px}
.right-fix-block .right-corner .handle-block .handle-content.front{position:absolute;width:100%;height:100%;z-index:3;}
.right-fix-block .right-corner .handle-block .handle-content.front:hover{z-index:1;}
.right-fix-block .right-corner .handle-block .handle-content.backend{position:absolute;width:100%;height:100%;z-index:2;}
.right-fix-block .right-corner .handle-block .handle-content.backend:hover{z-index:4;}
.right-fix-block .right-corner .handle-block.relative{position:relative}
.right-fix-block .right-corner .handle-block .handle{width:60px;height:60px;line-height:60px;display:block;}
.right-fix-block .right-corner .handle-block .handle.handle-icon{background-color:rgba(133,194,242,.72);color:#fff;text-align:center;cursor:pointer}
.right-fix-block .right-corner .handle-block .handle.handle-icon:hover{background-color:#2d96e9}
.right-fix-block .right-corner .handle-block .front .handle.handle-icon{background-color:rgba(133,194,242,1);}
.right-fix-block .right-corner .handle-block .handle.handle-icon i{font-size:40px;display:block;height:60px;padding-top:11px;}
.right-fix-block .right-corner .handle-block .go-to-top{}
.right-fix-block .right-corner .handle-block .go-to-top:hover{}
.right-fix-block .right-corner .handle-block .refresh{}
.right-fix-block .right-corner .handle-block .refresh:hover{}
.right-fix-block .right-corner .handle-block .go-to-home{}
.right-fix-block .right-corner .handle-block .go-to-home:hover{}
.right-fix-block .right-corner .handle-block .qr-code{}
.right-fix-block .right-corner .handle-block .qr-code:hover{}
.right-fix-block .right-corner .handle-block.hover-change-block{position:relative;}
.right-fix-block .right-corner .handle-block.hover-change-block:hover .hover-change-content{display:block;}
.right-fix-block .right-corner .handle-block.hover-change-block .hover-change-content{display:none;position:absolute;top:-50%;}
.right-fix-block .right-corner .handle-block .qr-code-content{right:60px}

.right-fix-block .right-corner .handle-block.decorate-cat{margin-top:30px;}
.right-fix-block .right-corner .handle-block.decorate-cat .handle-content{padding-left:20px;padding-top:23px;}

/* E 中间主体 E */
/* S 脚部 S */
.footer{}
.footer-wrap{width:100%;}
.footer-content{background:#686b6c;}

.footer-content .footer-website-logo{float:left;width:120px;padding:20px 0;text-align:center}
.footer-content .footer-website-logo .footer-website-home-link{display:block;}
.footer-content .footer-website-logo .footer-website-home-link img{max-width:120px;}
.footer-content .add-link{float:left;padding-left:50px;}
.footer-content .add-link-ul{}
.footer-content .add-link-ul>li{display:inline-block;width:160px;padding:20px 0}
.footer-content .add-link-ul li:hover{}
.footer-content .add-link-ul li h3.link-category{font-size:14px;height:26px;color:#8c8c8c;padding-left:10px}
.footer-content .add-link-ul .link-list-ul li{padding-left:10px;height:30px;line-height:30px;overflow:hidden;}
.footer-content .add-link-ul .link-list-ul a{color:#b5b5b5;font-size:13px;}
.footer-content .add-link-ul .link-list-ul a:hover{color:#e7e7e8;}

.footer-content .copyright{height:50px;background-color:#5a5d5e;color:#909090;font-size:13px;padding:6px 0;}
.footer-content .copyright p{text-align:center;line-height:20px;}
.footer-content .copyright a{color:#b3b3b3;}
.footer-content .copyright a:hover{color:#e7e7e8;}
.footer-content.footer-top-border{border-top:14px solid #000;}
.footer-content a:hover{text-decoration:underline;}
.footer-website-home-link:hover{-webkit-animation:rotateAlways 1.3s linear infinite;}

/* 脚部装饰 */
.footer-decorate{}
.footer-decorate .footer-animal{position:relative;bottom:0;height:70px;}
.footer-decorate .footer-animal .footer-footprint{position:absolute;left:10px;bottom:0;width:630px;height:35px;background:url(../image/footer/other/footprint-to-right.png) repeat-x;background-size:contain;}
.footer-decorate .footer-animal .footer-footprint img{width:70px;-webkit-transform:rotate(90deg);}
.footer-decorate .footer-animal .footer-cat{position:absolute;right:220px;bottom:0;}
.footer-decorate .footer-animal .footer-cat img{max-width:70px;}

/* 循环旋转360度 */
@-webkit-keyframes rotateAlways{
    0%{
        -webkit-transform:rotate(0deg);
    }
    50%{
        -webkit-transform:rotate(180deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
    }
}

/* E 脚部 E */

/* 左侧盯住栏 */
.left-bar{
    position:fixed;
    top:0;
    left:0;
    width:100px;
    height:100%;
    background:rgba(215, 230, 233, 0.5);
}
/* 左侧盯住栏 */
.right-bar{
    position:fixed;
    top:0;
    right:0;
    width:35px;
    height:100%;
    background:rgba(0,0,0,.4);
}


/* PC */
@media screen and (min-width:1367px){
    /*.main-wrap{
        width:1358px
    }
    .right-fix-block .right-corner{margin-left:679px;}*/
}
@media screen and (max-width:1366px){
    .main-wrap{
        width:1200px
    }
    .center-wrap{width:920px;}
    .left-block{display:none;}
}
/* iPhone 3 4 5 */
@media screen and (min-width:320px) and (max-width:374px){
    body{
        _background-color:green
    }
    .left-block{display:none;}
    .right-block{display:none;}
    .right-bar{display:none;}
    .left-bar{display:none;}
}
/* iPhone 6 */
@media screen and (min-width:375px) and (max-width:413px){
    body{
        _background-color:#8080c0
    }
    .left-block{display:none;}
    .right-block{display:none;}
    .right-bar{display:none;}
    .left-bar{display:none;}
}
/* iPhone 6plus */
@media screen and (min-width:414px) and (max-width:479px){
    body{
        _background-color:#ff8080
    }
    .left-block{display:none;}
    .right-block{display:none;}
    .right-bar{display:none;}
    .left-bar{display:none;}
}
/* Android and + */
@media screen and (min-width:480px) and (max-width:639px){
    body{
        _background-color:#f00
    }
    .right-bar{display:none;}
    .left-bar{display:none;}
}
/* Android and + */
@media screen and (min-width:640px) and (max-width:767px){
    body{
        _background-color:#400040
    }
    .left-block{display:none;}
    .right-block{display:none;}
    .right-bar{display:none;}
    .left-bar{display:none;}
}
/* ipad */
@media screen and (min-width:767px) and (max-width:1139px){
    body{
        _background-color:#808040
    }
    .left-block{display:none;}
    .right-block{display:none;}
    .right-bar{display:none;}
    .left-bar{display:none;}
}
/* 设备分辨率媒体查询 */
@media screen and (-webkit-min-device-pixel-ratio:2),screen and (max--moz-device-pixel-ratio:2){

}

.error{border:1px #f00 solid;background-color:#fbf9bb;}