@CHARSET "UTF-8";
/**
 * @doc 前台公共样式
 * @author Heanes
 * @time 2015-11-22 12:12:46
 */
/**************************************首页页面*******************************/
.index-article-list-block{}

/**************************************文章列表页面*******************************/
.article-list-block{padding:30px 10px;}
.article-list-block .article-list-row{margin-bottom:20px;}
.article-list-block .article-list-row .article-title{}
.article-list-block .article-list-row .article-title .title{font-size:24px;font-weight:300;border-left:6px solid #008fb5;padding-left:24px;}
.article-list-block .article-list-row .article-title .title a{line-height:30px;}
.article-list-block .article-list-row .article-title .title a:visited{color:#6594b7 }
.article-list-block .article-list-row .article-title .title a:hover{background-color:#008fb5;color:#fff;}
.article-list-block .article-list-row .article-info{padding:10px 6px 6px 30px;border-bottom:1px #ddd dashed;color:#bbb;}
.article-list-block .article-list-row .article-info dl,
.article-list-block .article-list-row .article-info dl dt,
.article-list-block .article-list-row .article-info dl dd{display:inline-block;vertical-align:top;font-size:13px;}
.article-list-block .article-list-row .article-info dl{margin-right:14px;}

.article-list-block .article-list-row .article-title.no-data{padding-left:30px;}
.article-list-block .article-list-row .article-title.no-data h1{font-size:24px;color:#555;font-weight:300;}
.article-list-block .article-list-row .article-info.no-data{text-align:center;border:none;}

.article-list-block .article-list-row .article-tags{float:right;}
.article-list-block .article-list-row .article-tags dd{padding-left:6px;}
.article-list-block .article-list-row .article-tags dd a:hover{background-color:#008fb5;color:#fff;}

/* 分页样式 */
.data-page-block{margin:20px 0;}
.data-page-block .page-link{font-size:0;text-align:center;}
.data-page-block .page-link .turn-page{display:inline-block;min-width:34px;height:34px;line-height:34px;border:1px solid #00a3cf;margin-right:10px;text-align:center;font-size:14px;color:#00a3cf;padding:0 10px;white-space:nowrap;-webkit-transition:all 0.28s ease;transition:all 0.28s ease;}
.data-page-block .page-link .turn-page.ellipsis{cursor:default;}
.data-page-block .page-link .turn-page.current,
.data-page-block .page-link .turn-page:hover{background-color:#00a0e9;color:#fff;}
.data-page-block .page-link .turn-page.ellipsis:hover{background-color:inherit;color:#00a3cf;}
.data-page-block .page-link .turn-page.disabled{color:#bbb;border-color:#bbb;cursor:text;}
.data-page-block .page-link .turn-page.disabled:hover{background-color:#fff;color:#bbb;}
/**************************************文章页面*******************************/
.margin-common{margin-left:10px;margin-right:10px;}
.article-page .article-category,
.article-page .article-page,
.article-page .article-relate-block,
.article-page .article-comment-block{margin-left:10px;margin-right:10px;}
.article-page .article-block{padding-top:20px;}
.article-page .article-category{padding:10px 5px;border-bottom:3px solid #57adfd;line-height:24px;}
.article-page .article-block .article-title-block{position:relative;border-bottom:1px #ddd dashed;color:#222;}
.article-page .article-block .article-title-block.fixed{position:fixed;top:0;z-index:2;width:900px;background-color:rgb(255, 255, 255);}
.article-page .article-block .article-title-block-placeholder{}
/* 右侧文章目录导航 */
#articleCatalog{background-color:#fff;}
/* 操作图标不允许选中 */
.article-page .article-block .article-title-block .article-operate{position:absolute;top:8px;right:18px;color:#777;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;}
.article-page .article-block .article-title-block .article-operate span{cursor:pointer;}
.article-page .article-block .article-title-block .article-operate span:hover{color:#07adf9;}
.article-page .article-block .article-title-block .article-operate span::selection{background-color:#fff;color:#07adf9;}
.article-page .article-block .article-title-block .article-operate .op-to-large-text,
.article-page .article-block .article-title-block .article-operate .op-to-small-text{display:inline-block;width:20px;text-align:center;}
.article-page .article-block .article-title-block .article-operate .op-to-large-text:hover,
.article-page .article-block .article-title-block .article-operate .op-to-small-text:hover{background-color:#00a0e9;color:#fff;}
.article-page .article-block .article-title-block .article-operate .op-to-small-text{font-size:14px;}
.article-page .article-block .article-title-block .article-operate .op-to-large-text{font-size:20px;font-weight:600}
.article-page .article-block .article-title-block .article-operate .op-share-btn{font-size:18px;}

.article-page .article-category .nav-sub{color:#999;padding:0 8px;font-size:18px;vertical-align:middle;}
.article-page .article-block .article-title{padding:10px 0;text-align:center;}
.article-page .article-block .article-title .entry-title{font-size:23px}
.article-page .article-info{color:#666;padding:10px 0;}
.article-page .article-info .article-info-dl{text-align:center;}
.article-page .article-info .article-info-dl dt,
.article-page .article-info .article-info-dl dd{display:inline-block;vertical-align:top;font-size:12px;}
.article-page .article-info .article-info-dl dd{margin-right:4px;}
.article-page .article-info p{text-align:center;font-size:12px}
.article-page .article-info p .comment-num{color:#666}
/* 文章摘要 */
.article-page .article-abstract{font-size:12px;margin:20px auto;padding:16px 10px 14px;border:1px solid #bad7bb;background-color:#f1fff2}
/* 文章正文 */
.article-page .article-content{_border-top:1px solid #07adf9;padding:10px 30px;}
.article-page .article-content h2.title-text{margin-bottom:46px;}
.article-page .article-content h3.title-text{margin-bottom:30px;}
.article-page .article-content p{margin-bottom:15px;text-indent:2em;line-height:2em;font-size:13px;}
/* 文章正文图片浮上时放大 */
/*.article-page .article-content img:hover{-webkit-transform:scale(1.01,1.01);-moz-transform:scale(1.01,1.01);-ms-transform:scale(1.01,1.01);-o-transform:scale(1.01,1.01);transform:scale(1.01,1.01);transition:.5s transform;-webkit-transition:.5s transform;border:0;box-shadow:0 0 13px 2px #aaa}*/
/* 文章作者相关信息 */
.article-page .article-author-info{border:1px solid #ddd;border-radius:10px;padding:4px;margin:20px 30px;background-color:#f9f9f9;}
.article-page .article-author-info a:hover{text-decoration:underline;}
.article-page .article-author-info .inline-block{display:inline-block;vertical-align:top;}
.article-page .article-author-info .author-avatar{width:110px;height:110px;padding:10px;}
.article-page .article-author-info .author-avatar .avatar-img{display:block;width:100%;height:100%;border-radius:50%;border:4px solid #c8d7e2;background-repeat:no-repeat;background-size:cover;transition:transform .4s ease-out;-webkit-transition:-webkit-transform .4s ease-out;-moz-transition: -moz-transform .4s ease-out;}
.article-page .article-author-info .author-avatar .avatar-img:hover{transform:rotateZ(360deg);-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);box-shadow:0 0 10px 0 #0086e3;}
.article-page .article-author-info .author-info{padding:4px 14px;}
.article-page .article-author-info .author-info .author-nickname{color:#0086e3;font-size:16px;font-weight:600;line-height:24px;}
.article-page .article-author-info .author-info .author-nickname:hover{text-decoration:underline;}
.article-page .article-author-info .author-info .author-about{color:#999;font-size:13px;margin-bottom:10px;}
.article-page .article-author-info .author-info .author-description{color:#666;font-size:13px;margin-bottom:6px;min-height:30px;}
.article-page .article-author-info .author-info .author-links{font-size:13px;}
.article-page .article-author-info .author-info .author-links .vertical-line-margin{padding:0 4px;color:#ddd;}
.article-page .article-author-info .author-info .author-links .donate-to-author{color:#e56625}
.article-page .article-author-info .absolute{position:absolute;}
.article-page .article-author-info .article-author-info-title{right:20px;top:-1px;background-color:#666;color:#fff;border-radius:0 0 5px 5px;padding:6px;font-size:13px;}
/* 文章相关信息 */
.article-page .article-meta{margin:10px 0;padding:0 30px;}
.article-page .article-meta .meta-define-list{font-size:13px;color:#444;line-height:28px;}
.article-page .article-meta .meta-define-list dt,
.article-page .article-meta .meta-define-list dd{display:inline-block;vertical-align:top;}
.article-page .article-meta .meta-define-list dd .url{font-weight:300;}
.article-page .article-meta .meta-define-list dd .url:hover{background-color:#0086e3;color:#fff;}
/* 文章相关操作 */
.article-page .article-handle{padding:5px 10px}
.article-page .article-handle .article-collect{margin-right:24px;}
.article-page .article-vote{padding:10px;text-align:right}
.article-page .article-vote i{margin:0 3px}
.article-page .article-vote a{color:#326eb4}
.article-page .article-vote a:hover{color:#e56625}
.article-page .article-share-block{border-top:2px solid #6ac134}
.article-page .share-title{padding:8px 3px}
.article-page .share-title .share-title-text{font-size:16px}
/* 前后文章 */
.article-page .article-preview-forward{line-height:18px;background:#eee;color:#666;border:1px solid #ddd;padding:10px 0;margin:5px 15px}
.article-page .article-preview-forward p{padding:4px 0;text-indent:2em}
.article-page .article-preview-forward p a:hover{color:#ff9500}
/* 相关文章 */
.article-page .article-relate-block{margin:10px 10px;}
.article-page .relate-title{font-size:17px;background:#07adf9;padding:6px 10px}
.article-page .relate-title a{color:#fff}
.article-page .relate-text-ul{padding:12px 2px 12px 10px}
.article-page .relate-text-ul li{height:35px;line-height:35px;list-style:disc inside;padding-left:10px;word-break:break-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.article-page .relate-text-ul li:hover{background:#07adf9;color:#fff}
.article-page .relate-text-ul li:hover .relate-li-a{color:#fff}
.article-page .relate-li-a{display:block;font-size:14px;}
.article-page .relate-li-a-time{display:table-cell;float:right;width:20%;text-align:right}
/* 评论 */
.add-comment-block{}
.add-comment-block .add-comment-title{font-size:17px;background:#07adf9;padding:6px 10px}
.add-comment-block .add-comment-title a{color:#fff}
.add-comment-block .add-comment-remind{color:#888;font-size:12px;padding:6px 10px;border-bottom:5px solid #07adf9}
.add-comment-block .add-comment{}
.add-comment-block .add-comment .comment-add-form{padding:10px;}
.add-comment-block .add-comment .comment-add-form .input-group{margin-bottom:10px;}
.add-comment-block .add-comment .comment-add-form .input-group input{width:140px;padding:4px;border:1px solid #d9ecfb;}
.add-comment-block .add-comment .comment-add-form .input-group input:hover,
.add-comment-block .add-comment .comment-add-form .input-group input:focus{outline:none;border-color:#82cdff;}
.add-comment-block .add-comment .comment-add-form .input-group.inline{display:inline-block;margin-right:18px;}
.add-comment-block .add-comment .comment-add-form .input-group label .must{color:red;padding-right:4px;vertical-align:middle;}
.add-comment-block .add-comment .comment-textarea{width:100%;height:200px;line-height:24px;resize:none;border:1px solid #d9ecfb;font-size:14px;padding:4px 8px;}
.add-comment-block .add-comment .comment-textarea:hover,
.add-comment-block .add-comment .comment-textarea:focus{outline:none;border-color:#82cdff;}
.add-comment-block .add-comment .add-comment-handle{text-align:right;position:relative;}
.add-comment-block .add-comment .add-comment-handle .submit-button{position:absolute;top:-66px;right:6px;background:#07adf9;color:#fff;width:100px;height:45px}
.add-comment-block .add-comment .add-comment-handle .submit-button:hover{background-color:#00a0e9;}
/* 评论列表 */
.comment-list{margin:10px 0;position:relative;}
.comment-list .comment-list-handle{position:absolute;right:20px;top:8px;color:#fff;}
.comment-list .comment-list-handle .refresh-comment-list{color:#fff;padding:0 8px;}
.comment-list .comment-list-title a{color:#fff}
.comment-list .comment-list-title{font-size:17px;background:#07adf9;padding:6px 10px}
.comment-list .comment-list-ul{}
.comment-list .comment-list-ul li{border-bottom:1px #e7e7e7 dotted;padding:10px;overflow:hidden}
.comment-list .comment-list-ul li:hover{background:#f5fafe;border-bottom:1px #D2E8FA solid}
.comment-list .comment-list-ul .comment-info{color:#777;font-size:12px}
.comment-list .comment-list-ul .no-data{padding:20px 0;}
.comment-list .comment-list-ul .get-data-error{display:none;}
.comment-list .comment-list-ul .comment-info .comment-user-avatar{display:inline-block;margin-right:6px;vertical-align:middle;}
.comment-list .comment-list-ul .comment-info .comment-user-avatar .user-avatar{display:inline-block;width:30px;height:30px;border-radius:50%;background-repeat:no-repeat;background-size:cover;}
.comment-list .comment-list-ul .comment-info .comment-floor{float:right;}
.comment-list .comment-list-ul .comment-info .comment-floor .comment-floor-a{font-weight:bold;color:#666}
.comment-list .comment-list-ul .comment-info .user-name-a{color:#326eb4;font-size:13px}
.comment-list .comment-list-ul .comment-content{padding:5px 2px;font-size:14px}
.comment-list .comment-list-ul .comment-content p{line-height:24px}
.comment-list .comment-list-ul .comment-handle{float:right;padding:10px 0;font-size:13px}
.comment-list .comment-list-ul .comment-handle i{margin:0 2px}
/*
.comment-list .comment-handle .comment-complain{visibility:hidden;}
.comment-list .comment-list-ul li:hover .comment-handle .comment-complain{visibility:visible;}
*/
.comment-list .comment-handle .comment-complain a{color:#dea47a}
.comment-list .comment-handle .comment-vote-up a{color:#289692}
.comment-list .comment-handle .comment-vote-down a{color:#f00}
.comment-list .comment-handle ins{text-decoration:none}
/* 底部“不容错过”推荐文章样式 */
.recommend-article{}
.recommend-article .should-be-see{font-size:0}
.recommend-article .should-be-see .recommend-list-ul{display:inline-block;vertical-align:top}
.recommend-article .should-be-see .recommend-list-ul li{display:inline-block;float:left;height:130px;vertical-align:top;border-top:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;margin-bottom:-1px}
.recommend-article .should-be-see .recommend-list-ul:hover li{border-color:#07adf9}
.recommend-article .should-be-see h3.title{display:block;width:226px;height:129px;line-height:129px;background:#07adf9;color:#fff;font-size:22px;text-align:center}
.recommend-article .should-be-see .recommend-list-ul .recommend-one{width:224px;height:100%;padding:26px 16px}
.recommend-article .should-be-see .recommend-list-ul .recommend-one:hover{background:#07adf9}
.recommend-article .should-be-see .recommend-list-ul .recommend-one a.title-href{display:block;height:44px;line-height:22px;color:#666;font-size:14px;overflow:hidden}
.recommend-article .should-be-see .recommend-list-ul .recommend-one a.title-href:hover{text-decoration:underline}
.recommend-article .should-be-see .recommend-list-ul .recommend-one .meta{padding-top:16px;font-size:13px;overflow:hidden;white-space:nowrap}
.recommend-article .should-be-see .recommend-list-ul .recommend-one .author{float:left}
.recommend-article .should-be-see .recommend-list-ul .recommend-one .time{float:right;color:#888}
.recommend-article .should-be-see .recommend-list-ul .recommend-one .author a{color:#1da55b}
.recommend-article .should-be-see .recommend-list-ul .recommend-one:hover a.title-href{color:#fff;background-color:inherit;}
.recommend-article .should-be-see .recommend-list-ul .recommend-one:hover .time{color:#ddd}
.recommend-article .should-be-see .recommend-list-ul .recommend-one:hover .author a{color:#00ff74}
/* 底部“不容错过”推荐文章样式 */

/**************************************读书页面*******************************/
.read-book-page{}
.read-book-page .book-cover,
.read-book-page .book-info-block{padding:6px;display:inline-block;vertical-align:top;line-height:22px;}
.read-book-page .book-info-block{width:468px;}
.read-book-page .book-detail-block{margin-bottom:20px;}

/* 书本信息 */
.read-book-page .book-info,
.read-book-page .book-read-info{display:inline-block;width:360px;vertical-align:top;padding:20px 10px;font-size:13px;}

.read-book-page .book-info{}
.read-book-page .book-info .book-info-row{}
.read-book-page .book-info .book-info-row dt,
.read-book-page .book-info .book-info-row dd{display:inline-block;vertical-align:top;}
.read-book-page .book-info .book-info-row dt{color:#888;padding:0 6px;}
.read-book-page .book-info .book-info-row dd{font-weight:600;}
.read-book-page .book-info .book-info-row dd.unit{color:#555;}

/* 个人阅读相关信息 */
.read-book-page .book-read-info{padding-top:20px}
.read-book-page .book-read-info .book-info-row dt,
.read-book-page .book-read-info .book-info-row dd{display:inline-block;vertical-align:top;}
.read-book-page .book-read-info .book-info-row dt{color:#888;padding:0 6px;}
.read-book-page .book-read-info .book-info-row dd{font-weight:600;}
.read-book-page .book-read-info .book-info-row dd.unit{color:#555;}

/* 书本详情页面tab切换 */
.tab-nav-block{}
.tab-nav-block .tab-title-block-placeholder{height:48px;display:none;}
.tab-nav-block .tab-title-block{position:relative;font-size:0;border:1px solid #ddd;background-color:#fff;box-shadow:0 1px 5px 0 rgba(0,0,0,.2)}
.tab-nav-block .tab-title-block.fixed{position:fixed;top:0;}
.tab-nav-block .tab-title-block .hide-tab-nav-fixed{display:none;font-size:13px;color:inherit;position:absolute;top:16px;right:10px;}
.tab-nav-block .tab-title-block .tab-nav-one{display:inline-block;border-right:1px solid #ddd;line-height:42px;cursor:pointer;}
.tab-nav-block .tab-title-block .tab-nav-one.active{position:relative;border-top:2px solid #b10000;border-left:1px solid #cfbfb1;border-right-color:#cfbfb1;margin-top:-2px;margin-left:-1px;}
.tab-nav-block .tab-title-block .tab-nav-one.active:after{content:' ';position:absolute;display:block;border:5px solid transparent;border-top-color:#b00000;width:0;height:0;top:-1px;left:50%;margin-left:-5px;}
.tab-nav-block .tab-title-block .tab-nav-one:last-child{border-right-width:1px;}
.tab-nav-block .tab-title-block .tab-nav-one .tab-title{display:block;padding:0 14px;font-size:14px;color:inherit;line-height:46px;}
.tab-nav-block .tab-title-block .tab-nav-one.active .tab-title{color:#b10000;font-weight:600;}
.tab-nav-block .tab-nav-content-block .tab-content-one{display:none;text-indent:2em;}
.tab-nav-block .tab-nav-content-block .tab-content-one.active{display:block;}

/* 详情区块 */
.book-detail-block .book-detail-tab-nav{}
.book-detail-block .book-detail-tab-nav .desc-content,
.book-detail-block .book-detail-tab-nav .desc-author,
.book-detail-block .book-detail-tab-nav .book-catalog{padding:20px 10px;font-size:13px;line-height:22px;text-indent:2em;}
.book-detail-block .book-detail-tab-nav .book-catalog .catalog-dl{}
.book-detail-block .book-detail-tab-nav .book-catalog .catalog-dl dt{font-weight:600;font-size:14px;padding:10px 0;}
.book-detail-block .book-detail-tab-nav .desc-content p,
.book-detail-block .book-detail-tab-nav .desc-author p{margin-bottom:10px;}
.book-detail-block .book-detail-tab-nav .read-online{margin-top:10px;}
.book-detail-block .book-detail-tab-nav .read-online .read-online-iframe{height:860px;}

/* 评论 */
.book-comment-block{padding: 10px 20px;}
